
<footer id="footer">
    <i class="fab fa-twitter icon-footer"></i>
    <i class="fab fa-instagram icon-footer"></i>
    <i class="fab fa-facebook-f icon-footer"></i>
    <i class="fas fa-envelope icon-footer"></i>

    <p>© Copyright 2021 TrustedHealth (Pty) Ltd</p>

</footer>

</div>
<!-- div for content-wrap -->
</body>


</html>
