<%- include('partials/header') %>



<section id="hero" class="hero d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h1 data-aos="fade-up">Privacy-preserving storage of sensitive medical documents</h1>
        <h2 data-aos="fade-up" data-aos-delay="400">Using the latest in privacy-preserving technology, users can store and share their sensitive health documents online without loss of privacy
        </h2>
        <div data-aos="fade-up" data-aos-delay="600">
          <div class="text-center text-lg-start">
            <a href="/Register"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Get Started</span>
              <i class="bi bi-arrow-right"></i>
            </a>
            <a href="/Login"
              class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
              <span>Login</span>
              <i class="bi bi-arrow-right"></i>
            </a>
          </div>
          <a href="/Login_doctor"
            class="btn-get-started-doctor scrollto d-inline-flex align-items-center justify-content-center align-self-center">
            <span>Are you a doctor?</span>
            <i class="bi bi-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
        <i class="fas fa-key fa-9x"></i>
        <!-- <img src="../css/img/hero-img.png" class="img-fluid" alt=""> -->
      </div>
    </div>
  </div>

</section><!-- End Hero -->
<div>
<section id="values" class="values d-flex padding-bottom: 100px">

  <div class="container aos-init aos-animate" data-aos="fade-up">

    <header class="section-header">
      <h2>Our Values</h2>
      <p>A Secure, privacy-preserving and user-friendly application.</p>
    </header>

    <div class="row">

      <div class="col-lg-4">
        <div class="box aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/img/values-1.png" class="img-fluid" alt="">
          <h3>Privacy-Preserving</h3>
          <p>Using the latest techniques, the system makes use of Intel's Software Guard Extensions to secure your data inside an Enclave.</p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">

          <img src="assets/img/values-2.png" class="img-fluid" alt="">
          <h3>Memory Safe</h3>
          <p>The system makes use of the memory safe programming language Rust.  </p>
        </div>
      </div>

      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="box aos-init aos-animate" data-aos="fade-up" data-aos-delay="600">
          <img src="assets/img/values-3.png" class="img-fluid" alt="">
          <h3>User-centered</h3>
          <p>The application is centered around a users privacy and ease-of-use, making sure the users journey is seamless and admin-free.</p>
        </div>
      </div>

    </div>

  </div>
</section>



<%- include('partials/footer') %>
